@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ku-orange: #ef8200;
  --ku-orange-hover: #f08e18;
  --ku-secondary: #5a534a;
  --fc-button-bg-color: var(--ku-orange);
  --fc-button-border-color: var(--ku-orange);
  --fc-button-hover-bg-color: var(--ku-orange-hover);
  --fc-button-hover-border-color: var(--ku-orange-hover);
  --fc-button-active-bg-color: var(--ku-secondary);
  --fc-button-active-border-color: var(--ku-orange-hover);
}
