@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overrides for FullCalendar styles */
:root {
  --ku-orange: #ef8200;
  --ku-orange-hover: #f08e18;
  --ku-secondary: #918779;
  --main-background: #faf2e8;
  --fc-border-color: var(--ku-secondary);
  --fc-button-bg-color: var(--ku-orange);
  --fc-button-border-color: var(--ku-orange);
  --fc-button-hover-bg-color: var(--ku-orange-hover);
  --fc-button-hover-border-color: var(--ku-orange-hover);
  --fc-button-active-bg-color: var(--ku-orange-hover);
  --fc-button-active-border-color: var(--ku-orange-hover);
  --fc-list-event-hover-bg-color: var(--ku-orange-hover);
  --fc-small-font-size: 1.1rem;
  --fc-today-bg-color: var(--main-background);
}

@layer components {
  .fieldset-border {
    border: 1px solid var(--ku-secondary) !important;
  }

  .label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
  }

  .label-required {
    margin-left: 0.5em;
    border: 2px solid #f4564e;
    color: #f4564e;
    margin-right: 0.5em;
    border-radius: 2px;
    margin-bottom: 0.5em;
  }

  .label-premium {
    border: 2px solid #bfbfbf;
    color: #bfbfbf;
    margin-right: 0.5em;
    border-radius: 2px;
    margin-bottom: 0.5em;
  }

  .selections-border {
    border: 2px solid var(--ku-orange) !important;
  }

  .border-secondary {
    border: 3px solid var(--ku-secondary) !important;
  }

  
}

/* Overrides for individual FC components */

.fc .fc-toolbar-title {
	color: var(--ku-orange);
	font-weight: bold;
}

.fc .fc-today-button {
	background: var(--ku-orange);
	color: white;
	padding: 0.125rem 2vw;
	font-weight: bold;

	&:disabled {
		background-color: var(--main-background);
		color: var(--ku-orange);
	}
}

.fc .fc-header-toolbar.fc-toolbar {
	margin-bottom: 0;
}

.fc-header-toolbar .fc-toolbar-chunk:last-child {
	display: flex;
}

.fc-header-toolbar .fc-button-group {
	display: flex;
	gap: 0.75rem;
}

.fc-direction-ltr .fc-button-group > .fc-prev-button:not(:last-child),
.fc-direction-ltr .fc-button-group > .fc-next-button:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.125rem 0.5rem;
	border-top-right-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.fc table.fc-scrollgrid {
	border: none;
}

.fc tr.fc-scrollgrid-section.fc-scrollgrid-section-body > td[role="presentation"] {
	border: none;
}

.fc-theme-standard th {
	border: none;
}

.fc table.fc-col-header,
.fc table.fc-scrollgrid-sync-table {
	border-collapse: separate;
	border-spacing: 0.5rem;
}

.fc-daygrid-event-harness::before,
.fc-daygrid-event-harness::after,
.fc-daygrid-day-events::before,
.fc-daygrid-day-events::after {
	display: none;
}

.fc-daygrid-day-events {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.fc-daygrid-event-harness {
	margin: 0 -2px;
}

.fc-daygrid-event {
	border-radius: 0;
}

.fc-daygrid-day-top {
	font-weight: bold;
	font-size: var(--fc-small-font-size);
}

.fc .fc-day.fc-day-today {
	border: 4px solid var(--ku-orange) !important;
}

.fc .fc-day-other .fc-daygrid-day-top {
	opacity: 1;
}

.fc .fc-day-other {
	opacity: 0.3;
}
